* {
  box-sizing: border-box;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #f1f1f1;
}

a,
button,
input,
label,
span,
td {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  background-color: #263238;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 33%;
  align-self: flex-end;
}

button:hover {
  opacity: 0.8;
}

form {
  border: 3px solid #f1f1f1;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0.5em 0 0 0.67em;
}

h1.index {
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
  padding-left: 20px;
  margin-top: -20px !important;
}

img {
  width: 114px;
  height: 120px;
  margin-bottom: 40px;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:checked + .slider {
  background-color: #A4DF3F;
}

input:focus + .slider {
  box-shadow: 0 #A4DF3F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

ul.main {
  border: none !important;
}

ul > li {
  font-size: 28px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ul > li.first {
  border-bottom: 1px solid #f1f1f1;
}

ul > li.first > span {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
}

ul > li > span {
  margin-right: 20px;
}

ul > li > span.id {
  width: 60px;
}

ul > li > span.date {
  width: 140px;
}

ul > li > span.type {
  width: 120px;
}

ul > li > span.position {
  width: 170px;
}

ul > li > span.video {
  width: 110px;
}

ul > li > span.delete {
  margin-right: 0 !important;
}

ul > li > span > a {
  background-color: #fe3d00;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  width: 110px;
  text-align: center;
  font-size: 24px !important;
}

ul > li > span > a:hover {
  opacity: 0.8;
}

ul > li > span > button.play {
  background-color: #5f7c8a;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  width: 110px;
  text-align: center;
  font-size: 24px !important;
}

ul > li > span > button.play:hover {
  opacity: 0.8;
}

.diff-row {
  background-color: #f9fafc;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #263238;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 32px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.dashboard,
.sidenav a.notifications,
.sidenav a:hover {
  color: #f1f1f1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-container {
  width: 100%;
  max-width: 350px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 580px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  top: 220px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  width: 100%;
  text-align: center;
}

.notification.is-danger {
  border: solid 3px #f14668;
  background-color: #f14668;
  color: #fff;
}

.notification.is-success {
  border: solid 3px #48c78e;
  background-color: #48c78e;
  color: #fff;
}
