{% extends "base.html" %}

{% block content %}

<script src="static/modal.js" defer></script>

<div class="sidenav">
  <a href="/dashboard" class="dashboard">Dashboard</a>
  <a href="/dashboard/notifications">Notification&nbsp;Settings</a>
  <a href="/logout">Logout</a>
</div>

{% if videos|length < 1 %}
  <h1 class="empty">Database empty</h1>
{% else %}
<ul class="main">
  <li><h2>Dashboard</h2></li>
  <li>
    <ul>
      <li class="first">
        <span class="id">ID</span>
        <span class="date">Date</span>
        <span class="type">Type</span>
        <span class="position">Position</span>
        <span class="video">Video</span>
        <span class="delete"></span>
      </li>
      {% for v in videos %}
      <li class={{ '' if v.id % 2 == 0 else 'diff-row' }}>
        <span class="id">{{ v.id }} </span>
        <span class="date">{{ v.date }}</span>
        <span class="type">{{ v.kind }}</span>
        <span class="position">{{ v.position }}</span>
        <span class="video"><button onclick="activateModal('mod{{ v.id }}')" class="play">Play</button></span>
        <span class="delete"><a href="/dashboard/delete/{{ v.id }}" 
          onclick="return confirm('Are you sure?')">Delete</a>
        </span>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

{% for v in videos %}
<div id="mod{{ v.id }}" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <video width="540" height="480" controls>
      <source src="/static/uploads/{{ v.filename }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}