{% extends "base.html" %}

{% block content %}
<h1 class="index">Sentinel</h1>

<script src="static/fade.js"></script>
<img src="static/logo.png" alt="logo">

<form action="/login" method="post">
  <div class="fields">
    <label for="uname">Username</label>
    <input type="text" placeholder="Enter Username" name="uname" required />
  </div>

  <div class="fields">
    <label for="psw">Password</label>
    <input type="password" placeholder="Enter Password" name="psw" required />
  </div>

  <button type="submit">Login</button>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% if 'success' not in messages[0].lower() %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
      {% else %}
      <div class="notification is-success">
        {{ messages[0] }}
      </div>
      {% endif %}
  {% endif %}
  {% endwith %}
</form>

{% endblock %}
